
:root {
  --background-color: #201F1E;
  --font-color: white;
  --color-primary: #003399;
  --color-secundary: #24314C ;
  --color-error: #CC0000;
  --color-right: #9CCC24;
}

*{
  color: var(--font-color);
}